#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

td {
  padding: 0.5em 1em;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  padding: 0.5em 1em;
  border-bottom: 2px solid #bbb;
  background-color: #78AFD8;
  border-radius: 0.5em;
}

header {
  background-color: #F9C45A;  
  color: #384452;
  display: flex;
  justify-content: center; /* Centraliza o conteúdo geral */
  align-items: center;    /* Alinha verticalmente */
  position: relative;
}

.logo {
  height: 6em;
  padding: 0.5em;
  border-radius: 20em;
  position: absolute;
  left: 1em;
}



.card {
  padding: 2em;
}

