@import "tailwindcss";

:root {
  /* Cores */
  --color-bg: #F6F7F9;
  --color-surface: #FFFFFF;
  --color-text: #00171F;
  --color-text-muted: #384452;
  --color-primary: #F9C45A;
  --color-accent: #78AFD8;
  --color-danger: #DD6252;

  /* Tipografia */
  --font-sans: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;

  /* Raios */
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  font-family: var(--font-sans);
}

